# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [106]:
import pandas as pd

## imports for Python, Pandas

In [107]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [108]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [109]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [110]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [122]:
# load json as string
# json.load((open('data/world_bank_projects_less.json')))

In [123]:
# load as Pandas dataframe
# sample_json_df = pd.read_json('data/world_bank_projects_less.json')
# sample_json_df

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [113]:
# Load json data as a string
data = json.load((open('data/world_bank_projects.json')))

In [114]:
# Loads json file into a dataframe. 
df = pd.DataFrame(data)

In [115]:
# Problem 1: Find the 10 countries with most projects
bycountry = df.groupby(df['countryshortname']).size().sort_values(ascending=False).head(10)

# Grouped by country short name, then took the size of the dataframe to get a series. Sorted the values with sort_values. 
print(bycountry)

countryshortname
Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
dtype: int64

In [116]:
# Problem 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

major_theme = json_normalize(data, 'mjtheme_namecode')
by_theme = major_theme.groupby('name').size().sort_values(ascending=False).head(10)
print(by_theme)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [117]:
# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
# Dictionary to use for map below.
name_values = {
        '1': 'Economic management',
        '2': 'Public sector governance',
        '3': 'Rule of law',
        '4': 'Financial and private sector development',
        '5': 'Trade and integration',
        '6': 'Social protection and risk management',
        '7': 'Social dev/gender/inclusion',
        '8': 'Human development',
        '9': 'Urban development' ,
        '10': 'Rural development',
        '11': 'Environment and natural resources management'
}

In [118]:
major_theme['name'] = major_theme['code'].map(name_values)

In [120]:
# Sanity check: Make sure part 2 doesn't have any blanks:
by_theme = major_theme.groupby('name').size().sort_values(ascending=False)
print(by_theme)

name
Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
dtype: int64